/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

.atom-clock {
  position: fixed;
  top: 80px;
  right: 10%;
  background-color: hsla(120,80%,15%,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px !important;
  border: 1px solid white;
  border-radius: 3px;
  font-weight: 100;
  font-size: 18px;
  color: #DDD;
  transition: opacity .5s ease;

  &:hover {
    opacity: 0;
  }
}
